* {
    padding: 0;
    margin: 0;
}

form {
    width: 30%;
    background-color: #ddd;
    margin: 10% auto;
    padding: 5%;
}

input {
    margin: 2% 0;
    width: 100%;
    padding: 2% 0% 2% 1.5%;
    border: 1px solid #aaa;
}

button {
    border: 1px solid green;
    background: green;
    padding: 1.5% 5%;
    color: white;
    margin-top: 2%;
}

h3 {
    margin-bottom: 5%;
}